/*header*/
.pageheader{
	border-bottom:3px solid #ddd;
	background:#FCFCFC url(../img/pic/header_bg.png) repeat-x scroll 0 100%;
	min-width:75em;
	position: relative;

}
.topSearch{
	/*background:transparent url(../img/pic/ez-header.png) no-repeat scroll 0 0;*/
	height: 55px;	
}
.contentWrapper{
	padding-bottom:1em;
	position:relative;
	min-height:550px;
}
.threeWays{
	font-size:larger;
	margin-bottom:1em;
	padding:1em 0 0;
	text-align:center;
}
.threeWays a{
	text-decoration:none;
	border-bottom:1px dashed;
}
.cardEditor{
	/*-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px;*/
	background-color:white;/*HoneyDew;*/
	left:12em;
	padding:1em;
	position:absolute;
	top:7em;	
	border:1px solid gray;
}
.pagefooter {
	background:#BBCCD9 url(../img/pic/footer_bg.png) repeat-x scroll 0 0;
	color:#CCCCCC;
	height:808px;
	/*min-width:75em;*/
	overflow:hidden;
}


.ctrlPanel{
	display:none;
	position:absolute;
	right:0;
	top:0;
	font-size:12pt;
	padding:4px 7px 2px;
	background-color:lightGray;
	line-height:1em;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:1px 2px 2px gray;	
}
.ctrlPanelWrapper{
	position:relative;
}

.panelTopWrapper{
  margin-bottom:1em;
  padding-bottom:3px;
  background-color:#C3D9FF;
	-moz-border-radius:10px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 6px gray;
}
.panelTop{
  border:1px solid white;
  margin:3px 3px 0px 3px;
  float:left;
  padding:1em;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.panelBottomWrapper{
  margin-bottom: 1em;
  background-color: rgb(195, 217, 255);
  text-align:center;
  position:relative;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 6px gray;
}
.panelBottom{
  border:1px solid white;
  margin:3px;
  padding:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}




.activeCardSide .tableCard{
	color:black;	
}
.activeCardSide .tableCard{
	background-color: #C3D9FF;
}

.tableCard{
	border:1px dashed;
	border-spacing: 7px;
	*border-collapse: expression('separate', cellSpacing = '7px');
	background-color: #eee;
	table-layout:fixed;	
	margin-bottom:1em;
	color:gray;
}
.tableCard td.td{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:1px 2px 2px gray;	
	/*background-color:ghostWhite;*/
	font-size:26px;
	height:170px;
	width: 33.3%;
	line-height:1.1em;
	text-align:center;
	overflow:hidden;
}
.td{
	border:1px solid #dcdcdc;	
	background:ghostWhite url(../img/pic/ez-logo-gray.png) no-repeat scroll right bottom;
}

.activeCardSide table.tableCard td.td {
	border:1px solid black;
	background-color:#fff;
}

#frontButton{
	position:absolute;
	right:25px;
	top:-3px;
}
#frontButton a{
	color: DimGray;
	background:transparent url(../img/icons/sideSwitch_l.png) no-repeat scroll left -24px;
	padding: 0 0 0 20px;
	text-decoration:none;
}
#frontButton a:hover{
	color: #e86f2d;
	background-position: left -48px;
}


.frontSideWrapper, .backSideWrapper{
	max-height:160px;
	overflow:hidden;
}
/* add it for ie6
* html div#division { 
   width: expression( document.body.clientWidth > 776 ? "777px" : "auto" ); *//* sets max-width for IE */
/*}*/

* html .backSideWrapper { 
   height:100px;
   border:1px solid yellow;
}


#backButton{
	left:25px;
	position:absolute;
	top:-3px;
}
#backButton a{
	color: DimGray;
	background:transparent url(../img/icons/sideSwitch_r.png) no-repeat scroll right -24px;
	padding: 0 20px 0 0;
	text-decoration:none;
}
#backButton a:hover{
	color: #e86f2d;
	background-position: right -48px;
}
.frontBack{
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	-moz-box-shadow:0px 0px 3px gray;
	font-family:Verdana;
	margin-bottom:0.8em;
	text-align:center;
	color:darkGray;
	text-align:center;	
	background-color:#fff;
	float:left;
	padding:0 1em;	
	border:1px solid DimGray;
}

a {
  outline: none;
}

.activeCardSide .frontBack{
	background-color:Beige;
	color:white;
	border-color:black
}
div.activeCardSide #frontButton a {
	background-position:left -48px;
}
div.activeCardSide #frontButton a:hover {
	background-position:left -48px;
}
div.activeCardSide #backButton a {
	background-position:right -48px;
}
div.activeCardSide #backButton a:hover {
	background-position:right -48px;
}


.inputSring{
	background-color:#eee;
}

.mainWord{
	line-height:1.2em;	
}






#UserWord, #UserTranslate{;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
  margin-top:0;
  padding:5px;
  width:240px;
}
#CardExt{
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	padding:3px;
	width:590px; 
}
.contextTran, .definTran, .synonimTran {
  font-size:small;
  font-style:italic;
  text-align:left;
  line-height:1.3em;
  
}
.contextTran .inputSring , .definTran .inputSring, .synonimTran .inputSring {
	
}
.mainTran{
	/*border-bottom:1px dashed;*/
	font-size:smaller;
	line-height:1.1em;
	margin-bottom:0.1em;
}
.perfix{
	font-size:smaller;
	color:gray;
	display:none;
  margin-left:1em;
}









.topT{
  float:left;
  margin:0 1em;
}

.plusMenu{
	font-weight:bold;
	color:lightGray;
  float:left;
  margin:0 1em;
}

.plusMenuFront{
	color:#FF9900;/*lightSalmon;*/
	font-weight:bold;
  float:left;
  margin:0 1em;
}
.plusMenuBack{
	color:#FF9900;/*lightSalmon;*/
	font-weight:bold;
  float:left;
  margin:0 1em;
}
.plusMenuActive{
	color:black;
}





a.sideToEdit {
	color:black;
	font-size:larger;
	font-weight:bold;
	margin-right:1em;
	text-decoration:none;
}
a.sideToEdit:hover {
	text-decoration:underline;
}
.userAction{
	border-bottom:1px dotted brown;
	color:brown;
	font-weight:bold;
	font-size:larger;
}
.userActionTip {
	color:red;
}
.langSwitch{
  margin:0 0.3em 0 0.5em;
  background:transparent url(../img/icons/langSwitch.png) no-repeat scroll 0 -24px;
  width:16px;
  height:16px;
  float:left;
  vertical-align:middle;
}
#langFrom,#langTo{
	-moz-border-radius:8px;
	-webkit-border-radius:8px; 
  background-color:#EEEEEE;
  border:1px solid CadetBlue;
  color:CadetBlue;
  font-size:9pt;
  margin:0;
  padding:0 0.4em;
}
#langTo{
	  border:1px solid BurlyWood;
	  color: BurlyWood;
}
.langToFromWrapper{
	float:right;
	margin:0.5em 1em 0 0;
	font-weight:bold;
	position:relative;
}
.backDir div.langSwitch {
	background-position: 0 0;
}
.backDir div.ttTest{
		background-position: 0 -72px;
}
div.ttTest{
		background-position: 0 -48px;
}
.backDir #langFrom{
		border:1px solid BurlyWood;
		color:BurlyWood;
}
.backDir #langTo{
		border:1px solid CadetBlue;
		color:CadetBlue;
}
.langToFrom{
  color:gray;
  font-weight:normal;
  float:left;
}
.langTable{
	-moz-border-radius:8px;
	-webkit-border-radius:8px; 
	-moz-box-shadow:0 0 3px;
  background-color:Cornsilk;
  border:1px solid;
  padding:5px;
  position:absolute;
  text-align:center;
  z-index:1000;
  top:25px;
  left:-230px;
}
.closeLangTable, .closeCardTable{
	background:transparent url(../img/icons/error.png) no-repeat scroll right 0;
	height:16px;
	width:16px;
	position:absolute;
	right:0;
	top:0;
}
.closeCardTable {
	right:10px;
	top:10px;	
}
.moveCardTable{
	background:transparent url(../img/icons/move_card_table.png) no-repeat scroll 0 0;
	height:24px;
	width:24px;
	position:absolute;
	right:34px;
	top:5px;
	cursor:move;
}
.hideArrow{
	background:transparent url(../img/icons/l_r_hide.png) no-repeat scroll right 0;
	height:16px;
	width:8px;
	position:absolute;
	right:1px;
	top:210px;
}
.hideArrowL {
	background-position: 0 0;
}
.hideArrowR {
	background-position: 0 -24px;
}
.sound{
  width:24px;
  height:24px;
  float:left;
  margin:0 1em;
  position:absolute;
  left:0;
  background:transparent url(../img/icons/sounds.png) no-repeat scroll 0 0;	
}
.activeSound{
  background-position: 0 -32px;
}
.activeSoundPlay{
	background-position: 0 -64px;
}
.activeSoundHover{
		background-position: 0 -96px;
}
.wordToSound{
	left:44px;
	overflow:hidden;
	position:absolute;
	top:10px;
	width:180px;
	text-align:left;
}
.rightSug{
	background-color:#eee;
	-moz-border-radius:10px;
	-webkit-border-radius:10px; 
	-moz-box-shadow: 0 0 3px;
	-webkit-box-shdow: 0 0 3px;
	margin-top:2em;
	padding-bottom:1.5em;
}
.rightHead{
  border-bottom:1px dotted;
  color:Brown;
  font-style:italic;
  margin:1em;
  text-align:center;
}
.topSugWrapper{
	margin: 1em;
	color:blue;
}
.topSugWrapper div, .additionalRes{
	color:gray;
}
.topSug{
	margin:0 1em;
	color:green;
	font-size:larger;
	line-height:1.1em;
}

#rightSugTabs{
	padding: 0 15px 15px 15px;
	height:280px;
	overflow:auto;
}
.rSugTabs{
	width:165px;
	float:left;
	margin: 0 0 .5em 0;
}
#rightSugTabs ul.rSugTabs li.dicSwitcherM {
	color:black;
	text-decoration:none;
	display:block;
}
li.dicSwBase{
	float:left;
	list-style:none outside none;
	margin-right: .5em;
	line-height:1.4em;
	border-bottom:1px dashed;	
	text-decoration:line-through;
	color:gray;
	display:none;
}
.dicTerms li,.topSug li,.rSugTabs li {
  cursor:pointer;
  }



.noun{
}
.verb{
}
.adjec{
}

#rightSugTabs ul.rSugTabs li.dicActive, #rightSugTabs ul.rSugTabs li.dicHover {
	color:brown;
}



.test{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}

div.fancy_bg {
	border:0 none;
	display:block;
	margin:0;
	padding:0;
	position:absolute;
	z-index:70;
}

div.fancy_bg_n {
	top: -18px;
	width: 100%;
	height: 18px;
	background: transparent url('../img/fancybox/fancy_shadow_n.png') repeat-x;
}

div.fancy_bg_ne {
	top: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('../img/fancybox/fancy_shadow_ne.png') no-repeat;
}

div.fancy_bg_e {
	right: -13px;
	height: 100%;
	width: 13px;
	background: transparent url('../img/fancybox/fancy_shadow_e.png') repeat-y;
}

div.fancy_bg_se {
	bottom: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('../img/fancybox/fancy_shadow_se.png') no-repeat;
}

div.fancy_bg_s {
	bottom: -18px;
	width: 100%;
	height: 18px;
	background: transparent url('../img/fancybox/fancy_shadow_s.png') repeat-x;
}

div.fancy_bg_sw {
	bottom: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('../img/fancybox/fancy_shadow_sw.png') no-repeat;
}

div.fancy_bg_w {
	left: -13px;
	height: 100%;
	width: 13px;
	background: transparent url('../img/fancybox/fancy_shadow_w.png') repeat-y;
}

div.fancy_bg_nw {
	top: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('../img/fancybox/fancy_shadow_nw.png') no-repeat;
}


.textUpload{
	width:550px;
	height:150px;
}
